{% extends "inventory/base.html" %}

{% load static %}

{% block content %}
    <div class="bg-dark text-center text-white" id="overallSaleBar">
        <p id="totalPrice">Total £ {{total}}</p>
        <p id="saleId" hidden="true">{{saleId}}</p>
        <button type="button" class="sell-selected-button button btn btn-success" id="sellSelected">Sell Selected</button>
    </div>
    <div class="flex-grid">
    {% for item in items %}
        <div class="item-container bg-dark text-center text-white">
            <div class="my-3 py-3">
                <h2 class="display-5">{{item.description}}</h2>
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Price</label>
                        <input type="price" class="form-control" id="priceInput" aria-describedby="emailHelp" placeholder="Enter Price" value={{item.price}} readonly>
                        <label>Quantity</label>
                        <input type="quantity" class="form-control" id={{item.productId}} aria-describedby="emailHelp" placeholder="Enter Quantity" value={{item.quantity}} readonly>
                        <label>Product Id</label>
                        <input type="productId" class="form-control" id="productIdInput" aria-describedby="emailHelp" value={{item.productId}} readonly>
                      </div>
                      <button type="button" id="sellButton" class="sell-button btn btn-primary">Sell</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}